<h1>Top URLs</h1>

<%= render partial: "shared/nav" %>

<br />
<p class="text-muted">The end-user should be able to access a REST endpoint in your application in order to retrieve the number of page views per URL, grouped by day, for the past 5 days.</p>
<p class="text-muted">Direct API access: <%= link_to "/top_urls.json", "/top_urls.json" %></p>

<div ng-repeat="(date, records) in top_urls">
  <h3>{{ date }}</h3>
  <ul>
    <li ng-repeat="record in records">
      {{ record.url }} - Visits: {{ record.visits }}
    </li>

    <li ng-show="!records.length">No visits for this day</li>
  </ul>
</div>

