<ul class="nav nav-pills">
  <li ng-class="{active: $route.current.activetab == 'home'}"><a href="#">Home</a></li>
  <li ng-class="{active: $route.current.activetab == 'top_urls'}"><a href="#/top/urls">Top URLs</a></li>
  <li ng-class="{active: $route.current.activetab == 'top_referrers'}"><a href="#/top/referrers">Top Referrers</a></li>
</ul>
